$bg1: rgba(#fff, .4);
$bg2: rgba(#fff, .3);
$bg3: rgba(#fff, .2);
$bg4: rgba(#fff, .1);
$bg5: rgba(#fff, .0);

$bgblue: #00001f;
$bggreen: #004000; 
$bgred: #270000;
$bgyellow: #292900;
$bgturqoise: #022f2f;