@import "./colors.scss";
.manifesto {
  width: 100%;

  > * {
    padding: 8px 60px;
    min-height: 33vh;
    height: calc(fit-content + 16px);
  }
  > :nth-child(1) {
    background-color: $bg1;
  }
  > :nth-child(2) {
    background-color: $bg2;
  }
  > :nth-child(3) {
    background-color: $bg3;
  }
  > :nth-child(4) {
    background-color: $bg4;
  }
  > :nth-child(5) {
    background-color: $bg5;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 425px) {
    > * {
        height: unset;
        padding: 12px;
    }
  }
}

.manifesto.dense {
  display: flex;

  > * {
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 16px;
    height: 33vh;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  @media screen and (max-width: 1440px) {
    flex-direction: column;
    > * {
      width: unset;
    }
  }
}
