@import "./colors.scss";
@import "./App.scss";
@import "./list.scss";
@import "./display.scss";
@import "./transparent-cards.scss";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.vh-centered {
  text-align: center;
  margin: 0;
}

.vh-centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-latin-chars {
  font-size: x-small;
  writing-mode: horizontal-tb;
  text-orientation: upright;
  order: -1;
}

.top-to-bottom-chars {
  text-orientation: upright;
  writing-mode: vertical-lr;
  &.manifesto {
    flex-direction: column;
  }
}
