@import "../colors.scss";
.user-page {
  text-align: center;
  background-color: #8c97ad;
  color: white;
  > :nth-child(1) {
    background-color: $bgturqoise;
  }
  > :nth-child(3) {
    background-color: $bggreen;
  }
  > :nth-child(5) {
    background-color: $bgyellow;
  }
  > :nth-child(7) {
    background-color: $bgred;
  }
  > :nth-child(9) {
    background-color: $bgblue;
  }
  button {
    margin: 16px;
    padding: 16px;
    border: solid 0px;
    border-radius: 8px;
    background-color: darkred;
    color: white;
    &:hover {
      background-color: $bggreen;
    }
    &:active {
      background-color: $bgblue;
    }
  }
}
